@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;700&display=swap');
@import 'utilities/spacing';
@import 'utilities/responsive';

$body-color: #333355;
$primary-color: #40a9ff;
$control-color: #d9d9d9;

#app {
  position: relative;
  margin: 10px auto;
}

a, a:visited {
  color: $primary-color;
}

a:hover, a:focus {
  outline: none;
  color: darken($primary-color, 20);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $body-color;
  background-color: lighten($body-color, 70);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: lighten($body-color, 10);
}

h1 {
  font-size: 7vw;
}

h2 {
  font-size: 4vw;
}

h2.subtitle {
  font-size: 4vw;
  margin: 0;
  margin-top: -20px;
  letter-spacing: 0.02em;
  font-weight: 200;
  color: lighten($body-color, 20);

  strong {
    border-bottom: 1px solid $control-color;
  }
}

.table-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1rem;

  h2 {
    flex-shrink: 0;
    display: none;
  }

  .filter-controls {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .search {
      display: flex;
      position: relative;

      .search-field {
        display: inline-block;
        width: 100%;
        font-size: 1.1em;
        line-height: 1.21em;
        height: 1em;
        box-shadow: none;
        background: #fff image-url('search.svg') 20px 48% no-repeat;
        padding-left: 40px; // to compensate for the icon
      }
      ::placeholder {
        color: darken($control-color, 10);
      }
    }
  }

  .dropdown-wrapper {
    flex-grow: 1;
    font-size: 1.1em;
    margin-top: 1rem;
  }
}

/* Form */
input, .dropdown {
  -webkit-appearance: none;
  font-size: .9em;
  color: $body-color;
  background: #fff;
  border: 1px solid $control-color;
  border-radius: 2px;
  padding: 8px 18px;
  line-height: 1rem;

  &:hover {
    border-color: $primary-color;
  }

  &:active, &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
  }

  &:disabled, &.disabled {
    cursor: not-allowed;
    pointer-events: hover;
    opacity: .5;

    &:hover {
      border-color: $control-color;
    }
    &:active, &:focus {
      border-color: $control-color;
    }
  }
}

.select-options {
  top: 2.3rem;
  z-index: 100;
  width: 100%;
  font-size: .8em;
  position: absolute;
  background: #fff;
  max-height: 100vw;
  overflow: auto;
  box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
  margin-top: .2rem;
  padding-bottom: 3px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  button {
    text-align: left;
    display: block;
    width: 100%;
    cursor: pointer;
    color: currentColor;
    font-size: .9em;
    background: transparent;
    border: 0;
    padding: 8px 20px;

    &:focus, &.focus {
      outline: none;
      background-color: #efefef;
    }

    &:hover {
      background-color: #efefef;
    }
  }
}

table {
  font-size: .8em;
  width: 100%;
  border-collapse: collapse;
  background: #fff;

  tr:hover {
    td.empty-state {
      background: inherit;
    }

    td {
      background: #efefef;
    }
  }

  th {
    position: sticky;
    z-index: 50;
    top: 0;
    margin: 0;
    text-align: left;
    background:  #d0e8ff;
    padding: 10px;
    font-size: .8em;
    box-shadow: 0 2px #a2d3ff;
  }

  tr:first-of-type {
    td.empty-state {
      text-align: center;
      opacity: .6;
      padding: 100px;
    }

    td {
      padding-top: 12px; // to compensate the box shadow
    }
  }

  td {
    padding: 10px;
  }
}

footer {
  margin-top: 30px
}

@import 'bigscreen';
